@font-face {
    font-family: 'FontAwesome';
    src: url('/alan/fonts/font-awesome-4.3.0/fonts/fontawesome-webfont.eot');
    src: url('/alan/fonts/font-awesome-4.3.0/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('/alan/fonts/font-awesome-4.3.0/fonts/fontawesome-webfont.woff') format('woff'),
    url('/alan/fonts/font-awesome-4.3.0/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('/alan/fonts/font-awesome-4.3.0/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

.menu-checked {
    background-color: #0099CC;
    opacity: 0.5;
}

.tape-item {
    width: 40px;
}

.tape-item div {
    padding: 0px !important;
    vertical-align: middle !important;
}

.tape-item input {
    border: 1px solid rgba(59, 55, 64, 0.33);
    text-align: center !important;
}

.tape-center-item input {
    background-color: rgba(255, 137, 0, 0.93) !important;
    text-align: center !important;
}